{{ define "main" }}

{{ $path := ( print "data/movies/" .File.TranslationBaseName ".json") }}

{{ $dataJ := getJSON $path }}

<div class="row">
	 <div class="six columns">
     <h4 style="margin-top: 15px">{{ $dataJ.title }}</h4>
		 <h5>Movie's details</h5>
     <label for="copyrightInput">Genre</label>
     <input class="u-full-width" type="text" id="copyright" value="{{ $dataJ.Genre }}" readonly/>
   </div>
	 <div class="three columns">
		 <img width="100%" style="margin-left: 50%;" src="/movies/{{.File.TranslationBaseName}}.jpg"/>
	</div>
</div>

  <div class="row">
    <div class="six columns">
       <label for="editionInput">Year</label>
       <input class="u-full-width" type="text" id="edition" value="{{ $dataJ.Year }}" readonly/>
    </div>
    <div class="six columns">
       <label for="languageInput">Language</label>
       <input class="u-full-width" type="text" id="language" value="{{ $dataJ.language }}" readonly/>
    </div>
  </div>
  <div class="row">
    <div class="six columns">
       <label for=" authorInput">Director</label>
       <a href="/directors/directors_{{ $dataJ.Director_id }}">
         <input class="u-full-width" type="button" id=" director" value="{{ $dataJ.Director }}" readonly/>
       </a>
    </div>
    <div class="six columns">
       <label for="languageInput">Actors</label>
       <a href="/actors/actors_{{ $dataJ.Actors_id }}">
         <input class="u-full-width" type="button" id="actor" value="{{ $dataJ.Actors }}" readonly/>
       </a>
    </div>
  </div>

{{ end }}