  <div class="row"  style="margin-top: 15px">
      <button onclick="location.href='/';"
			class="three columns">Home</button>
      <button onclick="location.href='/movies/';"
	  	 class="three columns">Movie</button>
      <button onclick="location.href='/directors/';"
	     class="three columns">Directors</button>
	    <button onclick="location.href='/actors/';"
	     class="three columns">Actors</button>
  </div>
  <div class="row">
		  <div class="nine columns">&nbsp;</div>
	    <div class="three columns">
	     <form action="{{ "search" | absURL }}">
	       <input class="u-full-width" placeholder="Search"
				        id="search-query" name="s"/>
	     </form>
		 </div>
  </div>